.loader {
  animation: rotate 1s infinite;
  transform: rotate(0) scale(0.8);
}

@keyframes rotate {
  0% {
    transform: rotate(360deg) scale(0.8);
  }
  50% {
    transform: rotate(0) scale(1.2);
  }
}
