@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('components/fonts/PretendardVariable.woff2');
}

@font-face {
  font-family: 'SBAggro';
  src: url('components/fonts/SBAggro.ttf');
}

@font-face {
  font-family: 'DnfBitbeatV2';
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Pretendard';
  }
}
