@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('components/fonts/PretendardVariable.woff2');
}

@font-face {
  font-family: 'SBAggro';
  src: url('components/fonts/SBAggro.ttf');
}

@layer base {
  html {
    font-family: 'Pretendard';
  }
}
